/*基础样式*/
.clear,
.clear5,
.clear10,
.clear20 { clear: both;display: block;overflow: hidden; border:none;}
.clear5{ height:5px;}
.clear10{ height:10px;}
.clear20{ height:20px;}
html,
body,
form{ font-size:12px; line-height:20px; font-family:"lucida Grande", Verdana; color:#333; height:100%; width:100%; padding:0px; margin:0px; background-repeat:no-repeat;}
a{text-decoration:none;color:#333;}
a img{ border:none;}
.menu-line{background-image: url("../img/sidebar_divider2.png"); background-repeat: repeat-x; height: 2px; margin:0px 10px;}
/*---------------*/
.icon-mailnotread,
.icon-folder{display:inline-block; width:20px; height:22px; background-repeat:no-repeat; background-position-y:4px;}
.icon-mailnotread{ background-image:url(../img/mailNotRead.png);}
.icon-folder{ background-image:url(../img/fu_file.gif);}
/*---------------*/
.toolbar{ padding:5px; background-color:rgb(249, 249, 249);}
.edit-content{ background-color: rgb(244, 245, 246); margin:0px; padding:0px 20px; line-height:24px;}
.edit-title{ text-align:right; vertical-align:top; width:70px; overflow:hidden; font-family:微软雅黑; color:gray;}
.view-mail-title { font-size:14px; font-weight:bold; }
.textbox{ border:1px solid #c3c3c3;box-shadow:1px 2px 3px #aaa inset; height:24px;}
/*---------------*/
.mail-notread{ color:#5fa207;}
.mail-list-title{ font-size:14px; font-weight:bold;}
.mail-list-head{ line-height:26px; height:26px; font-size:12px; padding:0px 10px;}
/*---未收邮件列表--*/
.mail-detial-item{ padding:0px 20px 0px 40px; color:#aaa;}
.mail-detial-user{ color:#5fa207; font-size:14px; font-weight:bold;}
.mail-detial-title{ color:#333; font-size:14px; font-weight:bold;}
.mail-detial-content{ color:#888; font-size:14px; padding:5px 20px 0px 60px; line-height:24px;}
.mail-detial-date{ float:right; color:#bbb;}
.mail-detial-operation{ font-size:12px; color:#888; padding: 0px 20px 0px 60px;}
.mail-detial-operation a{ color:#888; margin-right:20px;}
.mail-detial-operation a:hover{ color:#333;}

.whitepage{ background-color:White; margin-left:auto; margin-right:auto; padding:20px; border:1px solid #d7d7d7; box-shadow: 1px 1px 5px #999;}
.shortString{ text-overflow:ellipsis;overflow:hidden;white-space: nowrap; }
