<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--发送邮件线程休眠时间（单位：秒）-->
    <add key="MailStateSleepTime" value="2" />
    <!--检查删除邮件线程休眠（单位：分钟）-->
    <add key="MailDeleteSleepTime" value="5" />
    <!--初始化时检查邮件的最大数量-->
    <add key="RestartCheckMailCount" value="5" />
    <!--单次存储邮件状态数据最大数量-->
    <add key="SaveMailCount" value="100" />
    <!--个人邮件附件总容量（MB）-->
    <add key="AttachMaxSize" value="500" />
    <!--邮件队列最大数量-->
    <add key="MailQueueMaxCount" value="5000" />
    <!--可上传附件类型-->
    <add key="AllowUploadFileExt" value=".*" />
    <!--<add key="AllowUploadFileExt" value=".gif,.png,.jpg,.jpeg,.bmp,.rar,.7z,.zip,.doc,.docx,.xls,.xlsx,.pptx,.pdf,.txt"/>-->
    <add key="SSO_SERVER" value="%DM_SSO%/sso.aspx" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpModules>
      <add name="SSOModule" type="SSO.Module, SSOLib" />
    </httpModules>
    <httpRuntime maxRequestLength="524288000" executionTimeout="3600" requestValidationMode="2.0" />
  </system.web>
  <connectionStrings>
    <!--<add name="mailEntities" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=mail;Persist Security Info=True;User ID=sa;Password=sa`1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="mailEntities" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\mssql2008;Initial Catalog=mail;Persist Security Info=True;User ID=sa;Password=sa`1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="SSOModule" type="SSO.Module, SSOLib" />
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="524288000">
        </requestLimits>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>